body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkblue;
    border-radius: 50px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 15px 50px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: springgreen;
}

div.search {
    float: right;
    color: white;
    padding: 15px 75px;
}

.navbar input {
    border: 2px solid black;
    border-radius: 50px;
    padding: 0px 20px;
    width: 150px;
}

img.b {
    width: 125px;
    border-radius: 75px;
    float: left;
    margin-right: 15px;
}

p.username {
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}

a {
    font-style: Arial;
    margin-right: 10px;
    font-size: large;
    text-decoration: none;
}

p {
    word-spacing: 4px;
    line-height: 22px;
}